@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --spotlight-color: rgba(0, 0, 0, 0.9); /* Light mode color */
}

.dark {
  --spotlight-color: rgba(255, 255, 255, 0.5); /* Dark mode color */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
